.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #9BEAEC;
}

.information input {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  margin: 5px;
}

.information button { 
  width: 200px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.information button:hover { 
  cursor: pointer;
  background-color: grey;
  color: white;
}

.user{
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
}

.user p {
  margin: 5px;
  font-size: 12px;

}

.hover-link svg {
  color: black;  
}

.hover-link svg :hover{
  color: grey;  
}

.dashboard-link {
  text-align: center;
  height: 50px;
}